@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";
@import "../assets/home/css/vendor/font-awesome.min.css";
@import "../assets/home/css/vendor/materialdesignicons.css";
@import "../assets/home/css/vendor/bootstrap.css";

@import "../assets/home/css/vendor/owl.carousel.min.css";
@import "../assets/home/css/vendor/noUISlider.min.css";
@import "../assets/home/css/vendor/bootstrap-slider.min.css";

@import "../assets/home/css/vendor/lightgallery.css";
@import "../assets/home/css/vendor/nice-select.css";

@import "../assets/home/css/vendor/jquery.jqZoom.css";
@import "../assets/home/css/vendor/sweetalert2.min.css";
@import "../assets/home/css/main.css";
@import "../assets/home/css/responsive.css";
