@import "../assets/home/css/vendor/font-awesome.min.css";
@import "../assets/home/css/vendor/materialdesignicons.css";
@import "../assets/home/css/vendor/bootstrap.css";

@import "../assets/home/css/vendor/owl.carousel.min.css";
@import "../assets/home/css/vendor/nice-select.css";
@import "../assets/home/css/vendor/jquery.jqZoom.css";
@import "../assets/home/css/vendor/sweetalert2.min.css";
@import "../assets/home/css/main.css";
@import "../assets/home/css/responsive.css";
